# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local database
/data/*.db
/data/*.db-*
/local.db*

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example

# vercel
.vercel

# lockfiles are not tracked in this repo
package-lock.json
